#map,
body,
html {
    height: 100%;
}

.legend {
    padding: 10px;
    font-family: Sanchez, serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend .legendlabels {
    margin-left: 10px;
}

.legend .color-block {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.legend .color-block {
  display: inline-block;
}

.legend .legendlabels {
  display: inline-block;
}

.legend .color-block:nth-child(1) {
    background-color: #008000; 
}

.legend .color-block:nth-child(2) {
    background-color: #00FF00; 
}

.legend .color-block:nth-child(3) {
    background-color: #ADFF2F; 
}

.legend .color-block:nth-child(4) {
    background-color: #FFFF00; 
}

.legend .color-block:nth-child(5) {
    background-color: #FFA500; 
}

.legend .color-block:nth-child(6) {
    background-color: #FF6347; /* Tomato */
}

.legend .color-block:nth-child(7) {
    background-color: #FF0000; /* Red */
}